*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}

.starting_section{
    
    background-color:#E6E2C3;
}

.nav_bar{
    background-color:#FAF8F1;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-bottom:4rem;

}

.navbar_after_collapse{
    background-color:#F8F4EA;
    width:30%;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    margin-bottom:4rem;
}


.navbar_after_collapse a{
    padding:0.5rem 1.9rem;
    color: #3C6255;
    text-decoration:none;
    letter-spacing:2px;
}

.nav_bar a{
    padding:1.5rem;
    color: #3C6255;
    text-decoration:none;
    justify-self:center;
    letter-spacing:4px;
}

.nav_bar a:hover, .navbar_after_collapse a:hover{
    color:black;
}

.about_me{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:3rem;
}

.name{
    font-weight:700;
}

.college{
    font-weight:700;
}

.about_me p{
    margin-top:2rem;
    text-align:center;
    width:50%;
    font-size:1.2rem;
    line-height:1.5;
}

.profile_pic{
   max-width:191px;
}

hr{
    margin:0 auto;
    color: #3C6255;
    width:6rem;
    border-top:1px dotted #3C6255;
    border-width:0.3rem;
    padding:1rem 0;
}

.education{
    background-color:#E6E2C3;
    padding-bottom:3rem;
}

.education_heading{
    font-weight:700;
    padding:1.5rem 1rem 0;
    color: #3C6255;
}

.education_lists{
    text-align: left;
    margin-bottom:0;
    margin-left:1rem;
    padding:1rem 1rem 2rem;
}

#works_section{
    background-color:#E6E2C3;
}

.works_heading{
    font-weight:700;
    padding:1.5rem 1rem 0;
    color: #3C6255;
}

.works_div{
    padding-bottom:5rem;
    
}


.work{
    border:1px solid #3C6255;
    background-color:#FAF8F1;
    margin:3rem auto;
    border-radius:20px;
    width:80%;
}

.work:hover{
   
    box-shadow:-2px 2px 5px #3C6255;
}

.Work_image{
    border-radius:20px 20px 0 0;
}

.work h5{
    color: #3C6255;
}

 .skills{
    padding: 10rem 5rem;
    background-color:#FAF8F1;
} 

.java , .webd , .dsa{
    margin:0 auto;
    float:none;
    background:#E6E2C3;
    padding:2rem;
    border-radius:30px;
    height:270px;
    max-width:900px;

}

.java:hover , .webd:hover , .dsa:hover{
    
    border:1px solid #3C6255 ;
}

.left_arrow{
    position:absolute;
    left:20%;
}

.right_arrow{
    position:absolute;
    right:20%;
}

.carousel-indicators [data-bs-target]{
    background-color:gray;
}

.java_image , .webd_image , .dsa_image{
    float:left;
    max-width:200px;
    margin-right:2rem;
}

.java p , .webd p , .dsa p{
    margin-top:3rem;
    width:85%;
}

.java h4, .webd h4, .dsa h4{
    color: #3C6255 ;
}

.dsa h4{
    margin:0.7rem 0 0;
 }

.end_section{
    background-color: #E6E2C3;
    padding:6rem 0 2rem;
}

.end_section h4{
    color: #3C6255;
    text-align: center;
    margin-bottom:1.5rem;
}

.rating{
    border-radius:30px;
    padding: 2.5rem 2rem;
    width:400px;
    margin:0 auto 4rem;
    background-color:#E6E2C3;
    border:1px solid #3C6255;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap:2.3rem;
}
.rating_buttons{
    background-color: #FAF8F1;
    border:none;
    border-radius:50%;
    width:38px;
    padding:0.4rem;
    color:gray;
}

.rating_buttons:hover{
    background-color:#3C6255 ;
    color: white;
}

.contacts{
    text-align: center;
}

.email{
    text-decoration: none;
    color:#3C6255;
}

.email:hover{
    color:gray;
}

.contact_icons{
    width:20px;
    margin: 0 0.6rem;
}

.contact_icons:hover{
    width:23px;
}

.collapse_button{
    background-color:#E6E2C3;
    background-image:url("images/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding:0.5rem;
    margin:1rem 0.7rem;
    
}
    
.collapse_button_container{
    background-color: #F8F4EA;
    margin:1rem 0.7
}

.hidden{
    display:none;
}



/* mobile/tab design */

@media screen and (max-width:991px){
    .work{
        width:60%;
    }
}

@media screen and (max-width:744px){

    .java , .webd , .dsa{
        max-height:600px;
        max-width:380px;
        
    }


     .java_image , .webd_image , .dsa_image{
        width:120px;
    }

    
    .java p, .webd p, .dsa p{
        padding-top:0;
        margin-top: 1rem;
        float:left;
        width:100%;
    }

    .java h4, .webd h4, .dsa h4{
        padding:0;
    }

    .webd h4{
        width:120%;
    }

    .work{
       width:60%;
    }

    .about_me p{
        width:90%;
    }

    .profile_pic{
        max-width:140px;
     }
}

@media screen and (max-width:506px) and (min-width:200px){
    .java , .webd , .dsa{
        height:450px;
        max-width:380px;
        
    }

    .java p, .webd p, .dsa p{
        text-align: center;
        width:100%;
        font-size:13px;
        
        
    }


    .java_image , .webd_image , .dsa_image{
        display: block;
      float:none;
      text-align: center;
      margin:1rem auto 3rem;

}

.java h4, .webd h4, .dsa h4{
   width:60%;
   margin:0 auto 1rem;
   text-align: center;

}


.rating{
    width:300px;
}

.buttons{
    grid-gap:0.8rem;
}

}

@media screen and (max-width:380px) and (min-width:100px){
    .java h4, .webd h4, .dsa h4{
        font-size:15px;
        width:80%;
     }

     .java p, .webd p, .dsa p{
        text-align:unset;
        
        
    }
}